.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.33%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}

@media only screen and (max-width: 700px) {
  [class*="col"] {
    width: 100%;
  }
}

@font-face {
  font-family: premFont;
  src: url(BPLFont.ttf);
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
  text-align: center;
}

body{
  background-image: url('../Images/prembackground.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

table{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

header{
  font-family: premFont;
}

footer{
	text-align: center;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  font-family: premFont;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #FF005C;
}

/* Current/active navbar link */
.active {
  background-color: #FF005C;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: white;
  text-align: center;
}

.container {
  width: fill;
  height: fill;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
  position: all;
  background: inherit;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
}

.container:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
  z-index: -1;
}

.indexcontainer {
  width: fill;
  height: fill;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,.2);
  position: all;
  background: inherit;
  overflow: hidden;
  border-radius: 5px;
  z-index: 1;
}

.indexcontainer:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
  z-index: -1;
  height: 165%;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

p {
  font-family: premFont;
}

*{
  font-family: premFont;
  margin: 0;
  border: 0;
  padding: 0;
}

/*html{
  background-color: #000000;
}*/

.ptable table{
  margin: 10px auto;
  border-collapse: collapse;
}

.ptable{
  margin: 0px 0% 30px 0%;
}

th, td {
    width: 400px;
    padding: 5px;
}

th{
  background-color: black;
  color: #ffe221;
}

.headin{
  text-align: center;
  text-decoration: none;
  color: #ffe221;
  margin: 30px;
  display: block;
}

.wpos{
  text-align: center;
}

.wpos td{
  color: #77ff21;
  text-align: center;
}

.pos{
  text-align: center;
}

.pos td{
  color: #ff7b21;
  text-align: center;
}

table .col{
  padding: 30px;
  text-align: center;
}

.wpos:hover{
  background-color: #77ff21;
}

.wpos:hover td{
  color: #000000;
}

.pos:hover{
  background-color: #ff7b21;
}

.pos:hover td{
  color: #000000;
}

.fixtures {
  
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

.fixture {
  display: grid;
  grid-template-columns: 1fr 30px 20px 30px 1fr;
  grid-gap: 4px;
  align-items: center;
}

.fixture:not(:last-child) {
  margin-bottom: 1rem;
}

.versus {
  text-align: center;
}

.homeTeam {
  text-align: right;
}
.awayTeam {
  text-align: left;
}

.homeTeam, .awayTeam {
  padding: 0 5px;
}

.homeTeam, .awayTeam {
    white-space: nowrap;
    text-overflow: ellipsis;
    /*overflow: hidden;*/
}

.clubBadgeFallback {
  height: 30px;
}

.fixhead {
  text-align: left;
  text-decoration: none;
  color: #ffe221;
  margin: 30px;
  display: block;
}

.inputlog{
  width: 200px
}

.contactinput{
  width: 100%
}

.btn{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

th {
  cursor: pointer;
}

/*List of News*/
.list {
  max-width: 1400px;
  margin: 20px auto;
}

.img-list a {
  text-decoration: none;
}

.li-sub p {
  margin: 0;
}

.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
  
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
}
.li-head {
  margin: 10px 0 0 0;
}
.li-sub {
  margin: 0;
}
